.App{
    text-align: center;
    margin: 8%;
}
h1{
    color: rgb(184, 9, 9);
}
h1 > span{
    color: rgba(245, 60, 14, 0.823);
}
p{
    font-size: large;
    color: rgb(182, 129, 129);


}
.selectedanimal{
    font-size: large;
    padding: 3%;
}
select{
    margin: 10px;
    padding: 4px;
    width: 20%;
}
button{
    background-color: #7fad34;
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    border-radius: 5px;
    
}
.catstyles{
   background-color: #252a23eb;
   padding: 5%;
   border-radius: 20px;
  
}
.dogstyles{
   max-height: 26%;
    max-width: 50%;
    
}

/* Your CSS file */
.error-message {
    color: red; /* Set the desired error message color */
    font-size: 14px; /* Set the desired font size */
    margin-left: 5px; /* Adjust spacing as needed */
    display: block; /* Ensures the error message appears on a new line */
  }
  